/* FANFUEL MAINPAGE STYLES
--------------------------------------------------*/

/* CAMPAIGNS SECTION STYLES
--------------------------------------------------*/

.wrapper {
   	background:#1d1d1d;
  	border-bottom:1px black solid;
}

.homepage-campaigns {
	h2 {
		font-size:28px;
		margin-top: 50px;
		margin-bottom:40px;
	}
}

.progress {
	border-bottom:1px solid black;
	width:100%;
	background-color: #0a0a0a;
	background-image:none;
	margin-bottom: 0;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	   		border-radius: 0px;
}

.progress .bar {
	background: rgb(102,255,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(102,255,0,1) 0%, rgba(153,255,0,1) 40%, rgba(153,255,0,1) 60%, rgba(102,255,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,255,0,1)), color-stop(40%,rgba(153,255,0,1)), color-stop(60%,rgba(153,255,0,1)), color-stop(100%,rgba(102,255,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(102,255,0,1) 0%,rgba(153,255,0,1) 40%,rgba(153,255,0,1) 60%,rgba(102,255,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(102,255,0,1) 0%,rgba(153,255,0,1) 40%,rgba(153,255,0,1) 60%,rgba(102,255,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(102,255,0,1) 0%,rgba(153,255,0,1) 40%,rgba(153,255,0,1) 60%,rgba(102,255,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(102,255,0,1) 0%,rgba(153,255,0,1) 40%,rgba(153,255,0,1) 60%,rgba(102,255,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ff00', endColorstr='#66ff00',GradientType=0 ); /* IE6-9 */
}

.bar p {
	color:#1d1d1d;
}

a:hover {
	color:#99ff00;
}

.wrapper .container h3 {
	text-align: center;
}

.wrapper .container .campaign-info h3 {
	margin-top: 25px;
	padding-right: 25px;
}

.wrapper .container .campaign-info p {
	text-align: justify;
	padding-right: 25px;
}

.stats{
	margin-top: -20px;
	height:50px;
	width:100%;
	background: rgb(45,45,45); /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,45,45,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
   	background: -moz-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  	background: linear-gradient(to bottom,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.stats li {
	font-size: 1.2em;
	display:inline;
	float:left;
	vertical-align: center;
}

.stats li p {
	padding:15px 30px 15px 30px;
	margin:0;
}

.btn-browserewards {
	font-family: TradeGothicLTPro-Cn20;
	text-decoration:none;
	text-align: center;
	font-size: 26px;
	color:#fff;
	margin-top:5px;
	text-transform: uppercase;
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background: rgb(255,102,0); /* Old browsers */
	background: -moz-linear-gradient(top, $fforange 0%, $ffdarkorange 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$ffgreen), color-stop(100%,$ffdarkorange)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $fforange 0%,$ffdarkorange 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $fforange 0%,$ffdarkorange 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $fforange 0%,$ffdarkorange 100%); /* IE10+ */
	background: linear-gradient(to bottom, $fforange 0%, $ffdarkorange 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$fforange, endColorstr=$ffdarkorange,GradientType=0 ); /* IE6-9 */
	background-color:#ff9900;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	display:inline-block;
	padding:18px 0px;
	width:100%;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px 0px 0px 0px #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.247059);
}

.btn-browserewards:hover {
	color:#fff;
	background: rgb(255,102,0); /* Old browsers */
	background: -moz-linear-gradient(top, $fforange 0%, $ffdarkorange 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$fforange), color-stop(100%,$ffdarkorange)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $fforange 0%,$ffdarkorange 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $fforange 0%,$ffdarkorange 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $fforange 0%,$ffdarkorange 100%); /* IE10+ */
	background: linear-gradient(to bottom, $fforange 0%,$ffdarkorange 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$fforange, endColorstr=$ffdarkorange,GradientType=0 ); /* IE6-9 */
	background-color:$fforange;
	// color:#1a1a1a;

}

.btn-browserewards:active {
	position:relative;
	top:1px;
	// color:#1a1a1a;
}

.campaign {
	.row-fluid [class*="span"] {
		min-height:25px;
	}
}

.progress {
	height: 25px;
	margin-bottom: 0px;

}


.campaignbox .span12 {
	width:400px;
}

@media screen and (max-width: 767px) {
	.homepage-campaigntext {
		padding:340px 3% 20px 3% ;
	}
	.campaignbox .span12 {
		width:100%;
	}
	.stats .stats1, .stats .stats2, .stats .stats4 {
		display:none;
	}
}



/* HOW IT WORKS SECTION STYLES
--------------------------------------------------*/

.howitworks{
	margin-top:-10px;
	border-bottom:1px black solid;
}

.howitworks h3{
	padding:40px 0 30px 0;
	text-align: center;
}

/* PRESS MATERIAL SECTION STYLES
--------------------------------------------------*/

.press-material {
	background:#1d1d1d;
	.row-fluid {
		text-align:left;
		padding-top:40px;
	}
	h4 {
		color:$ffgreen;
		text-transform:none;
		font-family:'TradeGothicLTPro-Cn20';
	}
}

.campaignbox {
    background:#141414;
    border:1px solid black;
    min-height:340px;
    background-size:auto 340px;
    background-repeat:no-repeat;
}

.homepage-campaigntext {
	text-align:left;
	padding-right: 20px;
	min-height:340px;
	h3 {
		font-size:32px;
		font-family: TradeGothicLTPro-Cn20;
		font-weight: normal;
		line-height: 40px;
		padding-top: 4px;
	}
	p {
		text-transform:none;
		font-family:'genevaregular';
		text-align: justify
	}
}
.howitworks {
	padding-bottom:20px;
	.span3 {
		background-repeat:no-repeat;
		background-position: center bottom;
		height:160px;
		margin-bottom:40px;
		float:left;
		display:inline-block;
	}
}
.howitworks-step1 {
	background-image:url('howitworks-1.png');
}
.howitworks-step2 {
	background-image:url('howitworks-2.png');
}
.howitworks-step3 {
	background-image:url('howitworks-3.png');
}
.howitworks-step4 {
	background-image:url('howitworks-3.png');
}

@media screen and (max-width: 979px) {
	.howitworks {
		.span3 {
			width:50%;
			margin-left:0;
			margin-right:0;
		}	
	}
}

@media screen and (max-width: 767px) {
	.howitworks {
		.span3 {
			width:100%;
		}	
	}
}

.blog {
	ul {
		margin-left:0;
	}
	li {
		list-style-type: none;
	}
}








