/* FANFUEL MAINPAGE STYLES
--------------------------------------------------*/

/* CAMPAIGNS SECTION STYLES
--------------------------------------------------*/

.wrapper {
   	background:#1d1d1d;
  	border-bottom:1px black solid;
}

.homepage-campaigns {
	h2 {
		font-size:34px;
		margin-top: 50px;
		margin-bottom:40px;
		font-family:'TradeGothicLTPro-Cn20';
	}
}

.progress {
	border-bottom:1px solid black;
	width:100%;
	background-color: #0a0a0a;
	background-image:none;
	margin-bottom: 0;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	   		border-radius: 0px;
}

.progress .bar {
	margin-right: 3px; /* outside bar text spacing */
	background: rgb(102,255,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(102,255,0,1) 0%, rgba(153,255,0,1) 40%, rgba(153,255,0,1) 60%, rgba(102,255,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,255,0,1)), color-stop(40%,rgba(153,255,0,1)), color-stop(60%,rgba(153,255,0,1)), color-stop(100%,rgba(102,255,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(102,255,0,1) 0%,rgba(153,255,0,1) 40%,rgba(153,255,0,1) 60%,rgba(102,255,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(102,255,0,1) 0%,rgba(153,255,0,1) 40%,rgba(153,255,0,1) 60%,rgba(102,255,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(102,255,0,1) 0%,rgba(153,255,0,1) 40%,rgba(153,255,0,1) 60%,rgba(102,255,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(102,255,0,1) 0%,rgba(153,255,0,1) 40%,rgba(153,255,0,1) 60%,rgba(102,255,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ff00', endColorstr='#66ff00',GradientType=0 ); /* IE6-9 */
}

.outside-bar {
	height: 25px;
	margin-top: 1px;
}
.progress p{
	font-size: 18px;
	text-align: left;
	padding: 4px;
	color:#99ff00;
	font-family:'TradeGothicLTPro-Cn20';
	margin:0;
}

.bar p {
	color:#1d1d1d;
	text-align: right;
	text-indent:8px;
}

a:hover {
	color:#99ff00;
}

.wrapper .container h3 {
	text-align: center;
}

.wrapper .container .campaign-info h3 {
	margin-top: 25px;
	padding-right: 25px;
}

.wrapper .container .campaign-info p {
	text-align: justify;
	padding-right: 25px;
}

.stats{
	// margin-top: -20px;
	height:50px;
	width:100%;
	background: rgb(45,45,45); /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,45,45,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
   	background: -moz-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  	background: linear-gradient(to bottom,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	.double_border_left {
		border-left:1px solid rgba(45,45,45,1); padding-left:1px; background-color:black;
	}
	.double_border_right {
		border-right:1px solid black; padding-right:1px; background-color:rgba(45,45,45,1);
	}
	.nav_border_right {border-right: 1px solid rgba(45,45,45,1); height:100%;}
	.nav_border_left {border-left:1px solid black; height:100%;}

}

.stats li {
	font-size: 1.2em;
	// display:inline-block;
	float:left;
}

.stats li div {
	padding: 11px 30px 9px 30px;
	line-height: 30px;
	// margin:0;
	background: rgb(45,45,45); /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,45,45,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
   	background: -moz-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  	background: linear-gradient(to bottom,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	font-family:'TradeGothicLTPro-Cn20';
	font-size:27px;
}

.btn-browserewards {
	font-family: 'TradeGothicLTPro-Cn20';
	text-decoration:none;
	text-align: center;
	font-size: 26px;
	color:#fff;
	margin-top:5px;
	text-transform: uppercase;
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	display:inline-block;
	padding: 20px 0 18px 0;
	width:100%;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px 0px 0px 0px #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.247059);
}




.campaign {
	padding-bottom:50px;
	.row-fluid [class*="span"] {
		min-height:25px;
	}
}

.progress {
	height: 25px;
	margin-bottom: 0px;

}


.campaignbox .span12 {
	width:540px;
}


.campaignbox {
    background:#141414;
    border-bottom:1px solid black;
    min-height:340px;
    background-size:auto 340px;
    background-repeat:no-repeat;
}

.homepage-campaigntext {
	text-align:left;
	padding-right: 20px;
	padding-left: 140px;
	min-height:340px !important;
	background-color: #1a82f7;
	background-repeat: repeat-y;
	background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1));
	background: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1));
	background: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1));
	background: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1));

	// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,45,45,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
 //   	background: -moz-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* FF3.6+ */
	// background: -webkit-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	// background: -o-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	// background: -ms-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
 //  	background: linear-gradient(to bottom,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* W3C */




	h3 {
		font-size:32px;
		font-family: TradeGothicLTPro-Cn20;
		font-weight: normal;
		line-height: 32px;
		padding-top: 4px;
	}
	p {
		text-transform:none;
		font-family:'genevaregular';
		text-align: justify;
		font-size:14px;
	}
}

// .stats {
// 	.stats1, .stats2, .stats3, .stats4 {
// 	}
// }

@media screen and (max-width: 767px) {
	.homepage-campaigntext {
		padding:340px 3% 20px 3%;
		background:none;
	}
	.campaignbox .span12 {
		width:100%;
	}
	.stats .stats1, .stats .stats2, .stats .stats4 {
		display:none;
	}
}


@media screen and (min-width: 768px) {
	.gradient{
		// width:250px;
		height:340px;
		// margin-left:350px;
		background: -webkit-gradient(linear, right top, left top, color-stop(0%,rgba(89,89,89,0)), color-stop(40%,rgba(20,20,20,1))); /* Chrome,Safari4+ */
		background: -moz-linear-gradient(right,  rgba(89,89,89,0) 0%,rgba(20,20,20,1) 40%); /* FF3.6+ */
		background: -webkit-linear-gradient(right,  rgba(89,89,89,0) 0%,rgba(20,20,20,1) 40%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(right,  rgba(89,89,89,0) 0%,rgba(20,20,20,1) 40%); /* Opera 11.10+ */
		background: -ms-linear-gradient(right,  rgba(89,89,89,0) 0%,rgba(20,20,20,1) 40%); /* IE10+ */
		background: linear-gradient(to right,  rgba(89,89,89,0) 0%,rgba(20,20,20,1) 40%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00595959', endColorstr='#141414',GradientType=1 ); /* IE6-9 */
	}
}



/* HOW IT WORKS SECTION STYLES
--------------------------------------------------*/

.howitworks{
	margin-top:-10px;
	border-bottom:1px black solid;
}

.howitworks h3{
	padding:40px 0 30px 0;
	text-align: center;
	font-size:34px;
}

.howitworks {
	padding-bottom:20px;
	.span3 {
		background-repeat:no-repeat;
		background-position: center bottom;
		height:160px;
		margin-bottom:40px;
		float:left;
		display:inline-block;
	}
}
.howitworks-step1 {
	background-image:url('howitworks-1.png');
}
.howitworks-step2 {
	background-image:url('howitworks-2.png');
}
.howitworks-step3 {
	background-image:url('howitworks-3.png');
}
.howitworks-step4 {
	background-image:url('howitworks-4.png');
}

@media screen and (max-width: 979px) {
	.howitworks {
		.span3 {
			width:50%;
			margin-left:0;
			margin-right:0;
		}	
	}
}

@media screen and (max-width: 767px) {
	.howitworks {
		.span3 {
			width:100%;
		}	
	}
}



/* PRESS MATERIAL SECTION STYLES
--------------------------------------------------*/

.press-material {
	background:#1d1d1d;
	.row-fluid {
		text-align:left;
		padding-top:40px;
	}
	h4 {
		color:$ffgreen;
		font-family:'TradeGothicLTPro-Cn20';
	}
	.blog, .twtr-feed, .newsletter {
		padding-bottom:50px;
		padding-left:20px;
		padding-right:20px;
	}
}

.blog {
	ul {
		margin-left:0;
	}
	li {
		list-style-type: none;
	}
	ul.posts {
		h2 a {
			font-family: TradeGothicLTPro-Cn20;
			font-size: 20px;
			line-height: 20px;
		}
		h2 a:hover {
			text-decoration: none;
			color:#bbb;
		}
	}
	.resume {
		font-family:'genevaregular';
		text-transform:none;
		font-size:14px;
	}
	.resume:hover {
		text-decoration: none;
		color:#bbb;
	}
}

.newsletter {
	hr {
		border-color:#444;
		// width:90%;
	}
}


.newsletter1, .newsletter2 {
	padding-bottom:50px;
}

#newsletter-signup {
	color:#ccc;
	margin-top: 0;
	width:90%;
	max-width:400px;
	background-color: #141414;
	font-family: 'genevaregular';
	border:1px #0a0a0a solid;
	padding-right: 15px;
	margin-bottom:14px;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
			border-radius: 15px;
}

#newsletter-signup:focus {
  border-color: #99ff00;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #99ff00;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #99ff00;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #99ff00;
}

.btn-newsletter, .btn-newsletter:hover {
  font-size:14px;
  padding: 8px 20px;
}



@media screen and (max-width: 979px) {
	.blog, .twtr-feed {
		padding-right:0;
	}
	.newsletter hr {
		display:none;
	}
}

@media screen and (max-width: 767px) {

}




