/* FANFUEL MAINPAGE STYLES
--------------------------------------------------*/

/* CAMPAIGNS SECTION STYLES
--------------------------------------------------*/

.wrapper {
   	background:#1d1d1d;
  	border-bottom:1px black solid;
}

.homepage-campaigns {
	h2 {
		font-size:28px;
		margin-top: 50px;
		margin-bottom:40px;
	}
}

.progress {
	border-bottom:1px solid black;
	width:100%;
	background-color: #0a0a0a;
	background-image:none;
	margin-bottom: 0;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	   		border-radius: 0px;
}

.progress .bar {
	background: rgb(102,255,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(102,255,0,1) 0%, rgba(153,255,0,1) 40%, rgba(153,255,0,1) 60%, rgba(102,255,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,255,0,1)), color-stop(40%,rgba(153,255,0,1)), color-stop(60%,rgba(153,255,0,1)), color-stop(100%,rgba(102,255,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(102,255,0,1) 0%,rgba(153,255,0,1) 40%,rgba(153,255,0,1) 60%,rgba(102,255,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(102,255,0,1) 0%,rgba(153,255,0,1) 40%,rgba(153,255,0,1) 60%,rgba(102,255,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(102,255,0,1) 0%,rgba(153,255,0,1) 40%,rgba(153,255,0,1) 60%,rgba(102,255,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(102,255,0,1) 0%,rgba(153,255,0,1) 40%,rgba(153,255,0,1) 60%,rgba(102,255,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ff00', endColorstr='#66ff00',GradientType=0 ); /* IE6-9 */
}

.bar p {
	color:#1d1d1d;
}

a:hover {
	color:#99ff00;
}

.wrapper .container h3 {
	text-align: center;
}

.wrapper .container .campaign-info h3 {
	margin-top: 25px;
	padding-right: 25px;
}

.wrapper .container .campaign-info p {
	text-align: justify;
	padding-right: 25px;
}

.stats{
	margin-top: -20px;
	height:50px;
	width:100%;
	background: rgb(45,45,45); /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,45,45,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
   	background: -moz-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  	background: linear-gradient(to bottom,  rgba(45,45,45,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.stats li {
	font-size: 1.2em;
	display:inline;
	float:left;
	vertical-align: center;
}

.stats li p {
	padding:15px 30px 15px 30px;
	margin:0;
}

.count li {
	float:right;
	font-family: TradeGothicLTPro-Cn20;
	font-size: 1.6em;
}

.container #more {
	font-family: TradeGothicLTPro-Cn18;
	text-align: center;
	margin-bottom: 60px;
	font-size: 1.3em;
}


	/* HOW IT WORKS SECTION STYLES
    --------------------------------------------------*/

.howitworks{
	margin-top:-10px;
	border-bottom:1px black solid;
}

.howitworks h3{
	padding:40px 0 30px 0;
	text-align: center;
}

.howitworks .container{
	height:250px;
}

	/* HOW IT WORKS SECTION STYLES
    --------------------------------------------------*/

.press-material {
	background:#1d1d1d;

}

.press-material .container {
	height:400px;
}

.press-material .span3 {
	margin-left: 0;
}

.press-material h4 {
	margin-top: 40px;
	color:#99ff00;
}

.press-material .btn-success {
	margin-top:30px;
	width:100%;
}

.campaignbox {
    background:#141414;
    border:1px solid black;
    height:340px;
    background-size:auto 340px;
    background-repeat:no-repeat;
}



