.campaignheader {
	border-bottom:1px black solid;
    background: url('gradient2.png') repeat-x;
    margin-top:40px;
    border-bottom:1px solid #666;
    .container-fluid {
    	margin-bottom: 25px;
    }
}

h1.campaigntitle {
	text-align:center;
	font-size:34px;
	color: #ccc;
	margin-top:50px;
	margin-bottom:0;
	font-family: 'TradeGothicLTPro-Cn20';
	font-weight: normal;
	line-height: 1em;
}
.campaignbyline {
	text-align:center;
	font-size:16px;
	margin-bottom: 25px;
}

.campaignbyline a {
	color:$ffgreen;
}

.header-video {
	padding-top:50px;
	padding-bottom:50px;
}

.green-text {
	color:$ffgreen;
}


.statistics .item {
	height:0;
	padding-bottom: 18%;
	// line-height:57px;
	font-size:24px;
	top:50%;
	margin-bottom:3.5%;
	background-color:#000;
	text-align:right;
	font-family:'TradeGothicLTPro-Cn20';
	padding-right:5%;
	background: #292929; /* Old browsers */
	background: -moz-linear-gradient(top,  #292929 0%, #0a0a0a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595959), color-stop(100%,#0a0a0a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #292929 0%,#0a0a0a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #292929 0%,#0a0a0a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #292929 0%,#0a0a0a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #292929 0%,#0a0a0a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#0a0a0a',GradientType=0 ); /* IE6-9 */
}

.stat {
	padding-top:5.75%;
}

.statistics .item-units {
	font-family:'TradeGothicLTPro-Cn18';
	font-size:22px;
	margin-left:3px;
}

.header-video .progress {
	height:0;
	padding-bottom:10%;
	// line-height:30px;
	margin-bottom:3%;
}

.header-video .bar {
	padding-bottom:10%;
	margin-right: 5px;
}

.campaignbar .progress .bar p {
	font-family:'TradeGothicLTPro-Cn20';
	font-size: 13px;
	margin-top:6%;
	padding: 6px;
	line-height: 17px;
}

.btn-fundathlete {
	text-decoration:none;
	font-size: 26px;
	margin-bottom: 20px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	display:inline-block;
	padding:5.5% 0px;
	width:100%;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px 0px 0px 0px #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.247059);
}


@media screen and (max-width: 979px) {
	.bar p {
		margin-top:4%;
		font-size:14px;
	}
	.btn-fundathlete {
		font-size:20px;
		padding:4.5% 0;
	}

}

@media screen and (max-width: 767px) {
	// Reponsive view
	.statistics .item {
		padding:0 10px 0 0;
		height:40px;
		margin-bottom:10px;
	}
	.stat {
		padding:0;
		line-height:40px;
		margin-bottom:10px;
	}
	.header-video .progress {
		padding:0;
		height:30px;
		margin:15px 0;
		// line-height:30px;
	}
	.bar p {
		margin:0;
	}

	.btn-fundathlete {
		padding:12px 0;

	}
}


.campaignpage-body {
	background-color:$campaignpagebg;
}

.campaign-submenu {
	height:42px;
}

.campaign-submenu a {
	text-shadow:none;
	line-height:42px;
	display:block;
	color:#595959;
	font-size:16px;
	text-decoration: none;
}

.campaign-submenu .item {
	width:20%;
	display:inline-block;
	float:left;
	
	// height:42px;
	background: #292929; /* Old browsers */
	background: -moz-linear-gradient(top,  #292929 0%, #0a0a0a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#292929), color-stop(100%,#0a0a0a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #292929 0%,#0a0a0a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #292929 0%,#0a0a0a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #292929 0%,#0a0a0a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #292929 0%,#0a0a0a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#0a0a0a',GradientType=0 ); /* IE6-9 */
}

.campaign-submenu .item:hover{
	color:$ffgreen;
	background: #0a0a0a;
}

.campaign-submenu .selected,
.campaign-submenu .selected:hover  {
	color:white;
	background: $fforange; /* Old browsers */
	background: -moz-linear-gradient(top, $fforange 0%, $ffdarkorange 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$fforange), color-stop(100%,$ffdarkorange )); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $fforange 0%,$ffdarkorange  100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $fforange 0%,$ffdarkorange 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $fforange 0%,$ffdarkorange 100%); /* IE10+ */
	background: linear-gradient(to bottom, $fforange 0%,$ffdarkorange 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$fforange, endColorstr=$ffdarkorange ,GradientType=0 ); /* IE6-9 */
}


#project_content {
	padding: 25px;
	background-color: #151515;
	text-align: left;

	.anchorHack {
		display: block;
		position: relative;
		top: -80px;
		visibility: hidden;
	}
}

#project_content .content {
	background:none;
	font-size:20px;
}
#project_content ul.collection_list {
	list-style: none;
	margin: 0;
}

#project_content hr {
	border: 0;
	border-bottom: 1px solid #696969;
}

#project_content .comment{
	font-family: genevaregular;
	font-size: 18px;
	line-height: 20px;
}

#project_content .flag {
	margin: 20px 0;
}

@media (max-width: 767px) {
	.campaign-submenu  .item {
		width:100%;
		width:50%;


	}
}

@media (max-width: 979px) {
	.campaignheader {
		margin-top:0;
	}
}

/* Restyle social plugins */

td.hcent:first-child {
	display:none;
}


.accessible_elem {
	display:none;
}


div.pluginConnectButton {
	display:none;
}


/* Rewards CSS */

#project_rewards {
	.double_border_left {
		border-left:1px solid rgba(45,45,45,1); 
		margin-left:1px;
		display: inline-block;
		float: right;
	}
	.double_border_right {
		border-right:1px solid black; 
		margin-right:1px; 
		display: inline-block;
		float: left;
	}
}

.reward-container {
	padding:0;
}

.campaign-reward {
	margin-bottom:25px;
}

.campaign-reward-bar {
	height:50px;
	line-height:50px;
	font-family:'TradeGothicLTPro-Cn20';
	border-bottom:1px solid #1a1a1a;
	border-top:1px solid #1a1a1a;
	background: #444; /* Old browsers */
	background: -moz-linear-gradient(top,  #444 0%, #0a0a0a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#0a0a0a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #444 0%,#0a0a0a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #444 0%,#0a0a0a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #444 0%,#0a0a0a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #444 0%,#0a0a0a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#0a0a0a',GradientType=0 ); /* IE6-9 */
}

.campaign-reward-bar-price {
	font-size:30px;
	text-align:left;
	padding:0 20px;
	float:left;
	display:inline-block;
	border-right:1px solid #2d2d2d;
}

.campaign-reward-bar-buynow {
	line-height:15px;
	font-size:15px;
	text-align:right;
	float:right;
	display:inline-block;
	padding:10px 20px;
	width: 34px;
	text-align:center;
	border-left:1px solid black;
	p {
		margin:0;
		font-family:'TradeGothicLTPro-Cn20';
	}
}

.campaign-reward-bar-buynow:hover{
	color:#111;
	text-decoration:none;
	background: $ffgreen; /* Old browsers */
	background: -moz-linear-gradient(top,  $ffgreen 0%, $ffdarkgreen 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$ffgreen), color-stop(100%,$ffdarkgreen)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $ffgreen 0%,$ffdarkgreen 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $ffgreen 0%,$ffdarkgreen 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $ffgreen 0%,$ffdarkgreen 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $ffgreen 0%,$ffdarkgreen 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$ffgreen', endColorstr='$ffdarkgreen',GradientType=0 ); /* IE6-9 */
}

.campaign-reward-text {
	text-align:left;
	padding:0;
	background-color:#000;
	min-height:209px;
}

.campaign-reward-text > * {
	padding:0 16px;
}

.campaign-reward-text2 {
	width:auto !important;
	min-height:262px;
	background-color:black;
}

p.reward-title {
	font-family:'TradeGothicLTPro-Cn20';
	font-size:24px;
	line-height: 26px;
	color: white;
}

.reward-description {
	font-family:'genevaregular';
	text-transform:none;
	text-align:justify;
	font-size:14px;
	line-height:18px;
}

.clickable {
	cursor: pointer;
}

.masonry-box, .masonry-backers-box {
	display:inline-block;
	width:33%;
	margin-bottom:15px;
	float:left;
	@media screen and (max-width: 979px) {
		width:50%;
	}
	@media screen and (max-width: 767px) {
		width:100%;
	}
}

.box {
	padding:10px;	
}

#masonry-container {
	text-align:left;
}

.backer_profile_image, .backer_avatar {
	width:70px;
	float:left;
	margin-right: 20px;
}

.back_info {
	.text {
		a {
			color:$ffgreen;
			font-family: 'TradeGothicLTPro-Cn20';
		}
	}
	.confirmed {
		font-family: 'TradeGothicLTPro-Cn20';

	}
	.backed {
		font-family: 'genevaregular';
		text-transform: none;
		font-size: 12px;
	}
}

#rewards {
	.reward-backers-info {
		font-size: 14px;
		padding-top:8px;
		padding-bottom:8px;
	}
}

/*****/
#campaign-page{
	h1.campaigntitle {
		margin-top: 50px;
	}

	.header-video {
		padding-top: 20px;
	}

	.progress p {
		padding: 6px;
	}

	.row-fluid .span4 {
		/* margin-left: 10px; */
	}

	.statistics .item {
		font-size: 34px;
	}

	.btn-fundathlete {
		margin-bottom: 0px;
		
		border:0;
		bottom: 0;
	}

	.header-video {
		padding-bottom: 30px;
	}

	.fb-like.fb_edge_widget_with_comment.fb_iframe_widget {
		margin-right:10px;
	}

	a.item {
		font-family: TradeGothicLTPro-Cn20;
	} 

	.share{
		padding-right:0;
		z-index: 9999;
		.stat{
			font-size:28px;	
		}
	}
}


/* UPDATES */
#project_updates {
	.time{
		font-size: 18px;
	}

	.comment p {

	}

	img {
		margin: 10px 0;
	}
}

/* backers */
#project_backers {
	.back_info {
		p {
			margin:0 0 7px;
		}
	}
}

a.readm-more, a.readm-less {
	color:$ffgreen;
	font-family:'TradeGothicLTPro-Cn20';
}


