/* Fanfuel colours */
$ffgreen: #99ff00;
$ffdarkergreen: #66ff00;
$fforange:#ff3300;
$ffdarkorange:#ff3300;
$campaignpagebg: #1d1d1d;

/* Fanfuel COLORS
==============================

green   #99ff00
orange  #ff6600   lightest in orange grad
orange  #ff3300   darker orange

grey1   #dddddd   (lightest)(text - <h1> body)

grey2   #999999   (text - <h2>)

grey3   #595959   (search bar + light in grad)

grey4   #292929   (middle background)

grey5   #1a1a1a   (top background + divs) dark in grad

black   #0a0a0a   (just off of black) 

=============================== */