// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.contactform {
	a {
		text-transform: none;
		font-family: genevaregular;
		margin-bottom: 20px;
		margin-top: -10px;
		color:$ffgreen;		
	}
}