.faq-section a {
	display: block; 
	position: relative; 
	top: -40px; 
	visibility: hidden;
}

.faq-section h4 a {
	top: 0px; 
	visibility: visible;
	color: #0095da;
	text-transform: none;
}

.back-to-top-button{
	visibility: visible !important;
	top:0px !important;
}