/* GLOBAL STYLES 
--------------------------------------------------*/
/*@import url("//hello.myfonts.net/count/270bdf");*/
@font-face{
      font-family: TradeGothicLTPro-Cn18;
      src: font-url('270BDF_0_0.ttf'), font-url('270BDF_0_0.eot'); /* IE9 */
}

@font-face{
      font-family: TradeGothicLTPro-Cn20;
      src: font-url('270BDF_1_0.ttf'), font-url('270BDF_1_0.eot'); /* IE9 */
}

@font-face {
    font-family: 'genevaregular';
    src: font-url('geneva-webfont.eot');
    src: font-url('geneva-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('geneva-webfont.woff') format('woff'),
         font-url('geneva-webfont.ttf') format('truetype'),
         font-url('geneva-webfont.svg#genevaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
      color: #dddddd;
      background-color:#0a0a0a;
      text-transform: uppercase;
      font-family: TradeGothicLTPro-Cn18;
}
body#platform {
  padding:0;
}


a {
      color: #dddddd;
      text-transform: uppercase;
      font-family: TradeGothicLTPro-Cn20;
}

li {
      color: #dddddd;
      text-transform: uppercase;
      font-family: TradeGothicLTPro-Cn18;
}

.container-fluid {
  padding-left:20px;
  padding-right:20px;
}

.row-fluid {
  max-width:960px;
  text-align:center;
  margin:auto;
}

