/* GLOBAL STYLES 
--------------------------------------------------*/
body {
  color: #ccc;
  background-color:#0a0a0a;
  text-transform: uppercase;
  font-family: TradeGothicLTPro-Cn18;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
body#platform {
  padding:0;
}

h2, h4 {
  font-family:'TradeGothicLTPro-Cn20';
  font-weight:normal;
}


a {
      color: #ccc;
      text-transform: uppercase;
      font-family: TradeGothicLTPro-Cn18;
}

li {
      color: #ccc;
      text-transform: uppercase;
      font-family: TradeGothicLTPro-Cn18;
}

.container-fluid {
  padding-left:20px;
  padding-right:20px;
}

.row-fluid {
  max-width:960px;
  text-align:center;
  margin:auto;
}

ul.nav {
  margin-bottom:0;
}

/* Fanfuel generic buttons */
.btn-fforange {
  font-family:'TradeGothicLTPro-Cn20';
  // line-height:1em;
  border:0;
  margin:0;
  background: rgb(255,102,0); /* Old browsers */
  background: -moz-linear-gradient(top, $fforange 0%, $ffdarkorange 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$ffgreen), color-stop(100%,$ffdarkorange)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $fforange 0%,$ffdarkorange 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $fforange 0%,$ffdarkorange 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $fforange 0%,$ffdarkorange 100%); /* IE10+ */
  background: linear-gradient(to bottom, $fforange 0%, $ffdarkorange 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$fforange, endColorstr=$ffdarkorange,GradientType=0 ); /* IE6-9 */
  background-color:#ff9900;
  color:white;
  text-transform:uppercase;
  text-shadow: none;
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
}
.btn-fforange:hover {
  background: rgb(255,102,0); /* Old browsers */
  background: -moz-linear-gradient(top, $fforange 0%, $ffdarkorange 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$ffgreen), color-stop(100%,$ffdarkorange)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $fforange 0%,$ffdarkorange 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $fforange 0%,$ffdarkorange 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $fforange 0%,$ffdarkorange 100%); /* IE10+ */
  background: linear-gradient(to bottom, $fforange 0%, $ffdarkorange 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$fforange, endColorstr=$ffdarkorange,GradientType=0 ); /* IE6-9 */
  background-color:#ff9900;

}


/* sticky footer */
html,
  body {
    height: 100% !important;
    padding:0;
    padding-top:0px;
    /* The html and body elements cannot have any padding or margin. */
  }

  /* Wrapper for page content to push down footer */
  .page-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width:100%;
    /* Negative indent footer by it's height */
    /* margin: 0px auto -40px; */
    /* // padding-bottom:40px; */
  }

  /* Set the fixed height of the footer here */
  .footer {
    height: 40px;
    background-color: #ccc;
    margin-top:-40px;
  }

  /* Lastly, apply responsive CSS fixes as necessary */
  @media (max-width: 767px) {
    .footer {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

#main_content {
  padding-bottom:40px;
}

.menu-top-padding {
  margin-top:40px;
}



/* Contact page - parsley form validation */


.parsley-error-list li {
  color:$fforange;
}


/* Static - fix spacing in responsive view */

#terms, #privacy, #review_pay, #profile-show {
  margin-top:40px;
}

@media screen and (max-width: 979px) {
  #terms, #privacy, #review_pay, #profile-show {
    margin-top:0;
  }
}



