/* GLOBAL STYLES 
--------------------------------------------------*/
body {
  color: #ccc;
  background-color:#0a0a0a;
  text-transform: uppercase;
  font-family: TradeGothicLTPro-Cn18;
  font-size: 16px;
}
body#platform {
  padding:0;
}


a {
      color: #ccc;
      text-transform: uppercase;
      font-family: TradeGothicLTPro-Cn18;
}

li {
      color: #ccc;
      text-transform: uppercase;
      font-family: TradeGothicLTPro-Cn18;
}

.container-fluid {
  padding-left:20px;
  padding-right:20px;
}

.row-fluid {
  max-width:960px;
  text-align:center;
  margin:auto;
}

ul.nav {
  margin-bottom:0;
}

/* sticky footer */
html,
  body {
    height: 100% !important;
    padding:0;
    padding-top:0px;
    /* The html and body elements cannot have any padding or margin. */
  }

  /* Wrapper for page content to push down footer */
  .page-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width:100%;
    /* Negative indent footer by it's height */
    /* margin: 0px auto -40px; */
    /* // padding-bottom:40px; */
  }

  /* Set the fixed height of the footer here */
  .footer {
    height: 40px;
    background-color: #ccc;
    margin-top:-40px;
  }

  /* Lastly, apply responsive CSS fixes as necessary */
  @media (max-width: 767px) {
    .footer {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

#main_content {
  padding-bottom:40px;
}

.menu-top-padding {
  margin-top:40px;
}



/* Contact page - parsley form validation */


.parsley-error-list li {
  color:$fforange;
}


/* Static - fix spacing in responsive view */

#terms, #privacy, #review_pay, #profile-show {
  margin-top:40px;
}

@media screen and (max-width: 979px) {
  #terms, #privacy, #review_pay, #profile-show {
    margin-top:0;
  }
}



