	/* fanfuel promo styles
    --------------------------------------------------*/

.content{
	background: url('noise.png') repeat-y;
    overflow:hidden;
    margin-top: 40px;
}


.promo {
	border-bottom:1px black solid;
    background: url('gradient2.png') repeat-x;
}

.promo .green_title {
	color:#99ff00;
	margin-top:20px;
	margin-bottom: 20px;

}

.promo h2{
	font-size: 2.1em;
}

.promo .video iframe, .video p {
	margin-left: 40px;
}

.promo .row {
	margin-top:120px;
	margin-bottom: 100px;

}

.btn-success {
	font-family: TradeGothicLTPro-Cn20;
	text-decoration:none;
	text-align: center;
	font-size: 1.6em;
	color:#1a1a1a;
	margin-bottom: 20px;
	text-transform: uppercase;
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background: rgb(255,102,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,102,0,1) 0%, rgba(255,51,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,102,0,1)), color-stop(100%,rgba(255,51,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,102,0,1) 0%,rgba(255,51,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,102,0,1) 0%,rgba(255,51,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,102,0,1) 0%,rgba(255,51,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,102,0,1) 0%,rgba(255,51,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#ff3300',GradientType=0 ); /* IE6-9 */
	background-color:#ff9900;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	display:inline-block;
	padding:20px 0px 20px 0px;
	width:315px;


}

.btn-success:hover {
	background: rgb(255,102,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,102,0,1) 0%, rgba(255,51,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,102,0,1)), color-stop(100%,rgba(255,51,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,102,0,1) 0%,rgba(255,51,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,102,0,1) 0%,rgba(255,51,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,102,0,1) 0%,rgba(255,51,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,102,0,1) 0%,rgba(255,51,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#ff3300',GradientType=0 ); /* IE6-9 */

	background-color:#57d000;
	color:#1a1a1a;

}

.btn-success:active {
	position:relative;
	top:1px;
	color:#1a1a1a;
}

.sm {
	margin-right:5px;
	width:15px;
	padding:4px 12px 3px 11px;
}