#project_review input[type="text"]{
	width: 99%;
}

#project_review label{
  padding: 0;
  font-weight: normal;
  text-shadow: 0;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: transparent;
}


#project_image {
	width:100%;
}

#review_pay {
	h3 {
		padding: 18px inherit;
		font-size: 34px;
		margin: 0;
	}
	h2 {
		font-size: 34px;
	}
	h2, h3, .ff-green, label.label{
		font-family: tradegothicltpro-cn20;
		font-weight: normal;
	}
	.review_summary {
		h3 {
			font-family: tradegothicltpro-cn20;
			font-weight: normal;
			padding: 24px inherit;
			font-size: 24.5px;
			line-height: 24.5px;
			margin: 0;
			padding: 16px inherit;
		}
		a {
			font-family: tradegothicltpro-cn20;
			font-weight: normal;
			font-size: 24.5px;
		}
	}
	.inputs {
		ol {
			margin-left: 0;
		}
	}
	.submit fieldset {
		padding-top: 16px;
	}
	hr {
		height:1px;
		border:0;
		background-color:#999;
	}
	label {
		text-align:left;
	}
	div.lowercase {
		text-align:left;
		font-family:'genevaregular';
		color:#999;
		font-size:14px;
	}
	.submit {
		text-align:left;
	}
}

.review_summary {
	text-align:left;
	color:#999;
	h2 {
		margin:0;
	}
}

.accept_terms {
	input[type='checkbox'], label {
		display:inline-block;
		float:left;
		margin-right:10px;
	}
}

.align-label-left {
	li {
		text-align:left;
	}
}

#payment_menu {
	text-align:left;
}

.payments_type {
	text-align:left;
	text-transform:none;
	margin-top:20px;
	font-family:'genevaregular';
	color:#999;
	font-size:14px;
}

#catarse_paypal_express_form {
	padding-top:20px;
}


