#project_review input[type="text"]{
	width: 99%;
}

#project_review label{
  padding: 0;
  font-weight: normal;
  text-shadow: 0;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: transparent;
}


#project_image {
	width:100%;
}

#review_pay {
	hr {
		height:1px;
		border:0;
		background-color:#999;
	}
	label {
		text-align:left;
	}
	div.lowercase {
		text-align:left;
		font-family:'genevaregular';
		color:#999;
		font-size:14px;
	}
	.submit {
		text-align:left;
	}
}

.review_summary {
	text-align:left;
	color:#999;
	h2 {
		margin:0;
	}
}

.accept_terms {
	input[type='checkbox'], label {
		display:inline-block;
		float:left;
		margin-right:10px;
	}
}

.align-label-left {
	li {
		text-align:left;
	}
}

#payment_menu {
	text-align:left;
}

.payments_type {
	text-align:left;
	text-transform:none;
	margin-top:20px;
	font-family:'genevaregular';
	color:#999;
	font-size:14px;
}

#catarse_paypal_express_form {
	padding-top:20px;
}


