.lowercase{
	text-transform: none;
}

.bg-yellow{
	background-color: yellow;
}

.bg-gradient {
/*	border-bottom:1px black solid;*/
	background: url('gradient2.png') repeat-x;
}

.ff-green {
	color:#99ff00;
}

.bg-noise{
	background: url('noise.png') repeat-y;
}

.margin-what{
	margin-top:80px;
}

.bg-grey {
   	background:#1d1d1d;
  	border-bottom:1px black solid;
}

.ff-blue{
	color:#0095da;
}

div#faq h2{
	margin-top: 50px;
}

div#faq h4{
	margin-top: 30px;
}

ul#faq a{
	text-transform: none;
	text-decoration: none;
}

div#faq h3 a {
	color:#99ff00;
	text-decoration: none;
}
div#faq h3 a:hover {
	color:#0095da;
}

textarea#terms-and-conditions,
textarea#privacy-policy {
	width: 100%;
	height: 400px;
}

.footer a {
	text-transform: none;
	font-family: genevaregular;
}

.grey-box {
	border:1px solid #6a6a6a;
	margin-top:50px;
	margin-bottom:50px;
	background:#292929;
}
.black-box{
	border:1px solid #6a6a6a;
	background:black;	
	padding: 20px;
}
#checkout .row-fluid{
	text-align: left;
}

.fake-img{
	width: 200px;
	height: 140px;
	background-color: #ccccff;
}

#back-faq h4{
	margin: 20px 0;
	font-size: 13px;
}

#back-faq p{
	text-transform: none;	
	font-family: genevaregular;
	color: #6a6a66;
	font-size: 13px;
	line-height: 14px;
}



#checkout,
#contact
 {
	margin-top:40px;
  background: url('gradient.png') repeat;
}

#checkout ol {
	list-style: none;
	margin: 0;
}

#checkout ol label{
	
}

#checkout ol li.choice{
	color: black;
	background-color: #cbcbcb;
	width: 95%;
	padding: 10px;
	margin-bottom: 10px;
	height: 112px;
}
#checkout ol li.selected{
	background-color: #99ff00;
}

#checkout ol li input[type="radio"] {
	margin-left: -35px;
	margin-top: 47px;
}

#checkout .simbol{
	font-size: 30px;
	float: left;
	margin-top: -62px;
	margin-left: 5px;
}

#checkout legend{
	border: none;
	background-color: transparent;
	color: #99ff00;
	padding: 0;
	margin-left: -20px;

}

#checkout legend label{
	font-size: 24px;
	line-height: 30px;	
}

#checkout .reward_minimum_value{
	font-size: 34px;
	font-weight: bold;
	line-height: 34px;
}

#checkout .reward_description {
	font-size: 24px;
	line-height: 30px;
	margin-top: 20px;
}

#checkout .reward_sep {
	font-size: 35px;
	font-weight: bold;
	line-height: 0px;
	margin-top: 10px;
	margin-bottom: -8px;
}

#checkout label[for="backer_value"] {
	font-size: 24px;
	line-height: 30px;
}

#checkout label[for="backer_anonymous"] {
	font-size: 20px;
	margin-left: 30px;
	margin-top: 15px;
}

#checkout #backer_anonymous{
	float: left;
	margin-right: 5px;
}


#checkout input[type="text"]{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  text-indent:10px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; 
  border-radius: 0px;
  padding:10px 0;
  background-color:#cbcbcb;
  border:1px solid #6a6a6a;
  font-size: 34px;
  color: black;
}
#checkout #backer_value,
#checkout .inline-hints {
	margin-left: 25px;
}

#checkout .inline-hints{
	text-transform: none;
	font-size: 10px;
	font-family: genevaregular;
	color: #6a6a66;	
	line-height: 11px;
}

#checkout .btn{
	float: right;
}

#checkout .btn-first {
	margin-top: -35px;
}

#checkout .reward_image{
	float: right;
	background-color: white;
	background-size:100% auto;
	width: 240px;
	height: 132px;
	max-height: 132px;
	margin-top: -10px;
	margin-right: -20px;
}

#checkout hr{
	border: 0;
	border-bottom: 1px solid #696969;
}

#checkout .subtitle {
	text-transform: none;
	font-family: genevaregular;
	font-size: 12px;
	line-height: 12px;
	color: #696969;
	margin-top: -12px;
	margin-bottom: 10px;
}





#contact .black-box{
	margin-top: 40px;
	margin-bottom: 40px;
}

#contact .row-fluid{
	text-align: left;
}

#contact-item {
	text-transform: none;
	font-family: genevaregular;
	margin-bottom: 20px;
	margin-top: -10px;
}

#contact .big-text {
	width:100%;	
}

#project_review label,
#contact label {
	font-family:'TradeGothicLTPro-Cn20';
	font-size:16px;
	color:#999;
}

#project_review .btn,
#contact .btn,
#checkout .btn {
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	font-family:'TradeGothicLTPro-Cn20';
	text-transform:uppercase;
	color:white;
	background: $fforange; /* Old browsers */
	background: -moz-linear-gradient(top, $fforange 0%, $ffdarkorange 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$fforange), color-stop(100%,$ffdarkorange )); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $fforange 0%,$ffdarkorange  100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $fforange 0%,$ffdarkorange 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $fforange 0%,$ffdarkorange 100%); /* IE10+ */
	background: linear-gradient(to bottom, $fforange 0%,$ffdarkorange 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$fforange, endColorstr=$ffdarkorange ,GradientType=0 ); /* IE6-9 */		
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px 0px 0px 0px #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.247059);
	font-size: 20px;
	padding: 10px 20px;
}

#contact .btn:hover {
	color: black;
}

#contact .big-text {
	width:100%;	
}

#project_review input[type="text"]:focus,
#contact input[type="text"]:focus,
#contact textarea:focus {
  border: 1px solid $ffgreen;
  -webkit-box-shadow: 0 0 5px $ffgreen;
  box-shadow: 0 0 5px $ffgreen;
}

#project_review input[type="text"],
#contact input[type="text"],
#contact textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  text-indent:10px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; 
  border-radius: 0px;
  padding:10px 0;
  background-color:#cbcbcb;
  border:1px solid #6a6a6a;
}

#project_review input[type="text"]{
	width: 99%;
}

#project_review label{
  display: block;
  padding: 0;
  font-weight: normal;
  text-shadow: 0;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: transparent;
}

#project_review a#paypal{
	display: none;
}