
/* ========== homepage fixes from 2013.21.07 PDF ========= */

.progress p {
font-size: 15px;
margin-top: -3px;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	border:0;
}

.promo .headertext {
	margin-top: 24px;
	font-size: 34px;
	line-height: 1em;
}

.progress {
	border-bottom: 0;
}

.howitworks.content {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}

.campaignbox {
	border-bottom: 0;
}

.howitworks-step1 {
	background-size: 65%;
}

.howitworks-step2 {
	background-size: 74%;
}

.howitworks-step3 {
	background-size: 58%;
}

.howitworks-step4 {
	background-size: 71%;
}

.navbar-form input, .navbar-form select, .navbar-form .btn {
	margin-right: 4px;
}

.btn-newsletter {
background: #fdb200; /* Old browsers */
background: -moz-linear-gradient(top, #fdb200 0%, #fe8100 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdb200), color-stop(100%,#fe8100)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fdb200 0%,#fe8100 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fdb200 0%,#fe8100 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fdb200 0%,#fe8100 100%); /* IE10+ */
background: linear-gradient(to bottom, #fdb200 0%,#fe8100 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb200', endColorstr='#fe8100',GradientType=0 ); /* IE6-9 */
}
.btn-newsletter:hover {
background: #fe8100; /* Old browsers */
background: -moz-linear-gradient(top, #fe8100 0%, #fdb200 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe8100), color-stop(100%,#fdb200)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fe8100 0%,#fdb200 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fe8100 0%,#fdb200 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fe8100 0%,#fdb200 100%); /* IE10+ */
background: linear-gradient(to bottom, #fe8100 0%,#fdb200 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8100', endColorstr='#fdb200',GradientType=0 ); /* IE6-9 */
}


.span12.stats span.small-text {
	font-size:13px;
	line-height:0;
	padding-right:5px;
}


/* ========== champagne fixes from 2013.21.07 PDF ========= */

h1.campaigntitle {
	margin-top: 25px;
}

.header-video {
	padding-top: 20px;
}

.progress p {
	padding: 6px;
}

.row-fluid .span4 {
	margin-left: 10px;
}

.statistics .item {
	font-size: 28px;
}

.btn-fundathlete {
	margin-bottom: 0px;
	padding: 21px 0px 13px;
	border:0;
}

.header-video {
padding-bottom: 30px;
}

.fb-like.fb_edge_widget_with_comment.fb_iframe_widget {
	margin-right:10px;
}

a.item {
	font-family: TradeGothicLTPro-Cn20;
}

/* ========== contact us fixes from 2013.21.07 PDF ========= */

.black-box {
padding: 4px 20px 10px 20px;
}

.span4.black-box {
	h3 {
		margin-top: 20px;
	}
	h1,h2,h3 {
		margin-bottom: 0;
	}
	label {
		line-height: 6px;
		padding-top: 20px;
	}
}

.btn {
	padding-top:16px;
	padding-bottom:10px;
}

#forgot-password .btn, #project_review .btn, #contact .btn, #checkout .btn {
	padding: 14px 20px 8px 20px;
	margin-top:10px;
}

#contact {
	.span4.black-box {
		padding: 4px 20px 23px 20px;
	}
	form {
		margin: 0 0 10px;
	}
}

#checkout {
	img {
		margin-top: 15px;
	}
	h4 {
		margin: 15px 0;
	}
	h3 {
		margin: 20px 0 10px 0;
	}
	h2 {
		margin: 9px 0;
	}
	.subtitle {
		padding-top: 20px;
		font-family: genevaregular;
		font-size: 12px;
		line-height: 17px;
	}
	label {
		margin-bottom: 15px;
	}
	.black-box {
		border: 1px solid #6a6a6a;
		background: #0d0d0d;
	}
	h4.ff-green {
	margin: 15px 0 5px 0;
	}
}

.span8.black-box {
	padding: 15px 30px 20px 30px;
}

.black-box {
	background: #0d0d0d;
}