
/* ========== homepage fixes from 2013.21.07 PDF ========= */

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	border:0;
}

.promo .headertext {
	margin-top: 24px;
	font-size: 34px;
	line-height: 1em;
}

.progress {
	border-bottom: 0;
}

.howitworks.content {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}

.campaignbox {
	border-bottom: 0;
}

.howitworks-step1 {
	background-size: 65%;
}

.howitworks-step2 {
	background-size: 74%;
}

.howitworks-step3 {
	background-size: 58%;
}

.howitworks-step4 {
	background-size: 71%;
}

.navbar-form input, .navbar-form select, .navbar-form .btn {
	margin-right: 4px;
}

.btn-newsletter {
background: #fdb200; /* Old browsers */
background: -moz-linear-gradient(top, #fdb200 0%, #fe8100 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdb200), color-stop(100%,#fe8100)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fdb200 0%,#fe8100 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fdb200 0%,#fe8100 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fdb200 0%,#fe8100 100%); /* IE10+ */
background: linear-gradient(to bottom, #fdb200 0%,#fe8100 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb200', endColorstr='#fe8100',GradientType=0 ); /* IE6-9 */
}
.btn-newsletter:hover {
background: #fe8100; /* Old browsers */
background: -moz-linear-gradient(top, #fe8100 0%, #fdb200 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe8100), color-stop(100%,#fdb200)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fe8100 0%,#fdb200 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fe8100 0%,#fdb200 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fe8100 0%,#fdb200 100%); /* IE10+ */
background: linear-gradient(to bottom, #fe8100 0%,#fdb200 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8100', endColorstr='#fdb200',GradientType=0 ); /* IE6-9 */
}


.span12.stats span.small-text {
	font-size:13px;
	line-height:0;
	padding-right:5px;
}


/* ========== homepage fixes from 2013.21.07 PDF ========= */

