h3 ANY DOUBTS?

h4.ff-green How can I back this project?

p First, define the value of your contribution and choose a reward. Then click on “Review and make a payment”  to redirect you to the next page to complete your payment.


h4.ff-green When payment is effected?

p Once Paypal confirm the transaction (card and bank transfer confirmation is on the same day, lead slips to 4 working days to be confirmed). Then, if the project does not reach #{@project.display_goal} by #{@project.display_expires_at}, you will receive your money back in the form of credits on #{Configuration[:company_name]}.


h4.ff-green Then I get my money back if the project does not go out?

p Yes! You receive back 100% of what you paid in the form of credits to support other projects on #{Configuration[:company_name]}.


h4.ff-green And if I do not want to use the credits in #{Configuration[:company_name]}?

p No problem. Just enter the #{link_to t('credits.title'), user_path(current_user, anchor: :credits), :target => :_blank} tab, 60 days after their support and request a chargeback. If you have paid by credit card, the reversal will be done on your next bill.


h4.ff-green If the project is funded, how do I get my reward?

p When your reward is ready, #{link_to @project.user.display_name, user_path(@project.user)} will contact you to arrange delivery.


h4.ff-green Selling terms:
p All items offered as a reward are offered on a as is basis and all sales are conditional to the campaign achieving its final target. Once the campaign reaches its target all sales are considered final.

h4.ff-green Shipping time:

p All items offered as a reward will usually be shipped within 10 days of campaign ending, and conditional to target amount to be raised being achieve.

h4.ff-green Returns:
p I do not accept returns due to change of mind. Faulty or damaged in transit items will be replaced if possible.

h4.ff-green Refunds:
p A refund may be provided under exceptional circumstances once goods are returned. i.e Damaged in transit, irreplaceable. Please contact me @ and let me know why do you require a refund.

h4.ff-green Payment: 
p I only accept PayPal and through it, all major credit cards. Fanfuel at the moment only allows this form of payment for safety and security reasons. 
