- backer = @notification.backer
|Hello <strong>#{backer.user.display_name}</strong>!
br
br
|We noticed you have US$ #{backer.user.credits} positive balance on fanfuel. What do you think of using these funds to support someone right now?
br
br
|Please see the latest projects here:
br
br
-backer.user.recommended_projects(3).each do |project|
  |#{link_to(project.name, "#{Configuration[:base_url]}/projects/#{project.to_param}")}
  br
  |#{project.headline}
  br
  br
br
br
|This is how you can use your credits:
br
br
|1 - #{link_to('Choose a project to back;', explore_url)}
br
|2 - Click on view campaign on one of our live campaigns
br
|3 - Choose your reward 
br
|4 - Tick the box to use your available credits
br
|5 - Click on review and comfirm payment using available credits
br
|6 - Done! Your backing will be confirmed!
br
|You can also request a refund by cilcking  #{link_to("here", "#{Configuration[:base_url]}/users/#{backer.user.to_param}#credits")}.  You can learn more about refunds by visiting our Terms and Conditions #{link_to('here', '/en/terms-and-conditions')}.
br
br
|Should you need furhter information please get in touch with us at support@fanfuel.co
br
br
br
|Thanks,
br
|fanfuel team
