- backer = @notification.backer
|Hi, <strong>#{backer.user.display_name}</strong> !
br
br
|We noticed you have US$ #{backer.user.credits} positive balance on fanfuel. What do you think of using these funds to support someone right now?
br
br
|Please see the latest projects here:
br
br
-backer.user.recommended_projects(3).each do |project|
  |#{link_to(project.name, "#{Configuration[:base_url]}/projects/#{project.to_param}")}
  br
  |#{project.headline}
  br
  br
br
br
|This is how you can use your credits:
br
br
|1 - #{link_to('Choose a project to back;', explore_url)}
br
|2 - Click on Buy Now;
br
|3 - Decide how much you want to back and tick the box to use your available credits.
br
|4 - Click on review and comfirm payment using available credits;
br
|5 - Done! Your backing will be confirmed =)
br
br
|You can also request a refund by cilcking  #{link_to("here", "#{Configuration[:base_url]}/users/#{backer.user.to_param}#credits")}.  You can learn more about refunds by visiting our Terms and Conditions #{link_to('here', '/en/terms-and-conditions')}.
br
br
|Should you need furhter information please get in touch with us at SUPPORT@FANFUEL.CO
br
br
|a big thanks,
|Team fanfuel
