- project = @notification.project
| Hey!
br
br
| A new campaign have been created on #{Configuration[:company_name]}!
== " by #{link_to project.user.name, user_url(project.user)}"
br
== "email of campaign creator: #{mail_to project.user.email}"
br
br
| Campaign details below:
br
br
b Name:
= " #{project.name}"
br
b Target:
= " #{project.display_goal}"
br
b List of related links:
br
= simple_format(project.more_links)
br
b First backers:
br
= simple_format(project.first_backers)
br
b How did you find #{Configuration[:company_name].downcase}:
br
= simple_format(project.how_know)
br
br
= link_to 'Learn more about this project', project_by_slug_url(permalink: project.permalink)

