- project = @notification.project
| Hey!
br
br
| A new project has been created on this channel!
== " by #{link_to project.user.name, user_url(project.user)}"
br
== "email of campaign creator: #{mail_to project.user.email}"
br
br
| Details below:
br
br
b Name:
= " #{project.name}"
br
b Target:
= " #{project.display_goal}"
br
b List of related links:
br
= simple_format(project.more_links)
br
b Primeiros apoiadores:
br
= simple_format(project.first_backers)
br
b How did you learn about fanfuel:
br
= simple_format(project.how_know)
br
br
= link_to 'More Details', project_by_slug_url(permalink: project.permalink, subdomain: 'asas')

