- backer = @notification.backer
- project = backer.project

|You are killing it! <strong>#{project.user.display_name}</strong>!
br
br
|#{link_to backer.user.display_name, user_url(backer.user)} just purchased one of your rewards! 
br
br
|Purchase details:
br
br
|<strong>Amount:</strong> #{backer.display_value}
br
br
|<strong>Choosen Reward:</strong> #{backer.reward.display_description}
br
br
|<strong>Backer email:</strong> #{backer.user.email}
br
br
|See your other backers here: #{link_to project_by_slug_url(permalink: project.permalink, anchor: 'backers'), project_by_slug_url(permalink: project.permalink, anchor: 'backers')}
br
br
|You have fans now! Share some news with them: #{link_to project_by_slug_url(permalink: project.permalink, anchor: 'updates'), project_by_slug_url(permalink: project.permalink, anchor: 'updates')}
br
br
|Donwload reports here: #{link_to project_by_slug_url(permalink: project.permalink, anchor: 'reports'), project_by_slug_url(permalink: project.permalink, anchor: 'reports')}
br
br
|Keep promoting your campaign, you are doing great!
br
Congrats,
br
|#{Configuration[:company_name]} team
