- project = @notification.project
|Congratulations #{project.user.name},
br
|Well done! You reached your goal! =D
br
br
|Here we have a collection of very important information you will need from now on.
br
br
|1 - You can download <strong>a list of backers(name, reward, address, etc.)</strong> at any time on the tab <strong>Reports</strong>on your project page.
br
br
|2 - We need some information to provide you with a <strong>tax invoice</strong> for the services provided by #{Configuration[:company_name]}. We will use the details available on your profile page on #{Configuration[:company_name]}. Please make sure your details are correct and up to date.
br
br
|3 - We will emit a tax invoice for our services at the same time we make arrangements to send you the funds you have raised on #{Configuration[:company_name]}.
br
br
|4 - This is one of the most important steps of your campaign:
Successful campaign guide #{link_to 'SUCCESSSFUL-CAMPAIGN-GUIDE', 'https://XXXXXXXXXXXXXX'}. This guide is filled with information on how to best fullfil your backers expectations and keep then happy and willing to help you and others in the future. 
br
br
|A big thanks,
br
br
|#{Configuration[:company_name] team }
