- project = @notification.project
|Hi, #{project.user.display_name}.
br
br
|Your project is just gone live and you are ready to start receiving funds. Now is time for you to activate your marketing plan and make that green bar fill :D
br
br
= link_to(project.name, project_by_slug_url(project.permalink))
br
br
|A big thanks
br
br
|#{Configuration[:company_name]} team.
