- user = @notification.user
| Hi #{user.name},
br
br
|Thank you for sharing your idea with #{Configuration[:company_name]} o/
br
br
|#{Configuration[:company_name]} Please read our terms and conditions and campaign guidelines to understand how this service works and how you can benefit from it.
br
br
|We believe these documents will help you prepare your campaign to better meet the expectations of the #{Configuration[:company_name]}community.
br
br
|Please submit it again once you have worked a bit more on the details of your campaign.
br
br
|Thank you for getting in touch and please join us on #{link_to 'Facebook', Configuration[:facebook_url]}, #{link_to 'Twitter', "twitter.com/#{Configuration[:twitter_username]}" } e #{link_to 'blog', Configuration[:blog_url]}, also use this opportunity to back a campaign: #{link_to 'EXPLORE', explore_url}
br
br
br
|A big thanks,
br
br
|#{Configuration[:company_name]} team
