- project = @notification.project
|Hello #{project.user.display_name}.
br
br
|Booom! Your project has just gone live and you are ready to start getting fuelled! Now its time for you to activate your marketing strategy and go big on social media.
br
br
= link_to(project.name, project_by_slug_url(project.permalink))
br
br
|Good luck!
br
br
|#{Configuration[:company_name]} team
