- project = @notification.project
|Boooom! 
br
Well done #{project.user.name},
br
|You have reached your target!
br
br
|Here are some important facts you will need from now on:
br
br
|1 - You can download <strong>your list of backers (name, reward, address, etc.)</strong> at any time on the tab <strong>Reports</strong>on your project page.
br
br
|2 - We require some information to provide you with a <strong>tax invoice</strong> for the services provided by #{Configuration[:company_name]}. We will use the details available on your profile page at #{Configuration[:company_name]}, so please make sure your details are correct and up to date.
br
br
|3 - We will submit a tax invoice for our services at the same time we make the arrangements to transfer the funds you have raised on #{Configuration[:company_name]}.
br
br
|4 - This is one of the most important steps of your campaign:
#{link_to 'Successful Campaign Guidelines', 'http://blog.fanfuel.co/your-campaign-was-successful-whats-next/'}. This guide is filled with information on how to best fullfil your backers expectations as well as keep them happy and willing to help you in the future. 
br
br
|Congrats!
br
br
|#{Configuration[:company_name]} team
