- user = @notification.user
|Hello #{user.name}!
br
br
|Thank you very much for trusting #{Configuration[:company_name]} with your campaign!
br
br
|Before we begin, we would like to remind you how the campaign selection works at #{Configuration[:company_name]}. There are 4 steps:
br
br
|1 - Filling out the form. Done.
br
br
|2 - Our team will go over your campaign and come back to you within 5 working days to let you know if your campaign has been accepted. If we feel your campaign still needs a bit of love, our team will send you some feedback in order for you make the necessary tweaks.
br
br
|3 - Once your campaign has been accepted, we will send you a special link to submit your project.
br
br
|4 - Finally we require your confirmation that your campaign has been submitted in order for us to authorize it to go live.
br
br
|Important information: if you forgot to include something in the submitted form don't panic, you can add new information (or update them) when our team contacts you.
br
br
|Meanwhile, have a look at some of our live campaigns (#{link_to "#{Configuration[:base_url]}/" ,"#{Configuration[:base_url]}/"}) and show your support to someone else. Who knows, they might return the favour in the future.
br
br
|Keep up with #{Configuration[:company_name]} on  #{link_to 'Facebook', Configuration[:facebook_url]} and #{link_to 'Twitter', "twitter.com/#{Configuration[:twitter_username]}" } and know more about #{Configuration[:company_name]} reading our posts on #{link_to 'blog', Configuration[:blog_url]}.
br
br
|If you have any questions, contact us on: #{mail_to Configuration[:email_contact]}
br
br
|Thanks,
br
br
|#{Configuration[:company_name]} Team
