- user = @notification.user
- project = @notification.project
|Hello #{user.name}!
br
br
|Thanks for the submission! We are looking forward to helping you out with your breakthrough moment.
br
br
|We will review your campaign and get back to you within 5 working days. Hang tight!
br
br
|Thanks,
br
br
|#{Configuration[:company_name]} team
