- project = @notification.project
|Hello #{project.user.name},
br
|Your campaign on #{Configuration[:company_name]} just ended. There are a few pending payments and we are waiting their confirmation to come through from PayPal. These should be completed in the next 5 working days. Moving forwards there are a few things to keep in mind.
br
br
|1 - <strong>Should your project be over your target:</strong> We will collect the funds and transfer them to you in accordance with our Payment transfer policy: 
= link_to 'Payment Transfer Policy:', 'http://XXXXXXXXXXXXXX' BLOG POST?
|You should have a verified PayPal account to receive your funds.
br
br
|2 - <strong>If your campaign did not reach it's target but still have pending payments:</strong>:We will wait for PayPal to define whether these payments are cleared or declined so your campaign can reach 100% funding. 
br
br
|3 - <strong>If your campaign does not reach it's target, all funds raised will be returned to backers. At first they will receive credits to back other fanfuel campaigns and will receive an email with instructions on how to request a refund.
= link_to 'Non Successful Campaign Refunds-Terms and Conditions', 'http://REQUESTING A REFUND PAGE'
br
br
|Please feel free to send us your feedback #{link_to 'Customer Support', 'http://fanfuel.co/en/contact/'}
br
br
|Thank you,
br
br
|#{Configuration[:company_name]} team
