#announcement
  = image_tag 'icon_alertheader.png'
  p= "Atualize seu e-mail, já! Nosso sistema de login está mudando, #{link_to 'Clique aqui e saiba mais', 'http://blog.fanfuel.co/', target: '_blank'}.".html_safe
  .clearfix
